<app-nav></app-nav>
<div class="container">
  <br>
 

  <div class="table-responsive" >
    <h2>İPTAL İHALELER</h2>
    <table class="table table-bordered" style="border-color: black; border: 4px solid black;">
      <thead>
        <tr style="font-family: monospace; ">
          <th >İhale Numarası</th>
          <th> </th>
          <th>Başlangıç Tarihi</th>
          <th>Bitiş Tarihi</th>
          <th>Kategori</th>
          <th>İhale Durumu</th>
          <th>Başlangıç Ücreti</th>
          <th></th>    
          <th></th>  
        </tr>
      </thead>  
      <tbody >
        <tr *ngFor="let tender of tenders;">
          <td>{{tender.tenderId}}</td>
          <td>{{tender.description}}</td>
          <td>{{tender.startDate}}</td>
          <td>{{tender.endDate}}</td>
          <td>{{tender.category}}</td>
          <td >{{tender.status}}</td>
          <td>{{tender.price}}</td>
          <td><button type="button" class="btn btn-success" routerLink="/tenderDetail/{{tender.tenderId}} ">Detay</button></td>
          <td> <button type="button" class="btn btn-danger" routerLink="/tenderbid/{{tender.tenderId}}" >Verilen Teklifler</button></td>
        
        </tr>
      </tbody>
    </table>
  </div>
  
</div>
