<app-navToStart></app-navToStart>

<br> <br>
<main role="main" >
    <div class="container" >
        <div class="row ; center">
            <form #userloginForm="ngForm" (ngSubmit)="login()" >
                <h2 class="mt-5">KULLANICI GİRİŞİ</h2>
                <div class="form-group">
                 <label for="userName">Kullanıcı Adınız :</label>
                <input  class="form-control me-sm-2" name="userName" 
                [(ngModel)]="loginUser.userName" required type="text" >
          <br></div>
          <div class="form-group">
            <label for="password">Şifreniz :</label>
                <input class="form-control mr-sm-2" name="password" 
                [(ngModel)]="loginUser.password" required type="password" >
            <br></div> 
                <button class=" btn btn-success btn-block" [disabled]="!userloginForm.valid" type="submit">GİRİŞ</button>
                <button type="reset" class="btn btn-danger  btn-block" >TEMİZLE</button>
                <button type="button" class="btn btn-primary btn-block" routerLink="/changeUser">ŞİFREMİ UNUTTUM</button>
            </form>
        </div>
    </div>
</main>